# **State-Wise RainFall Analysis(1901-2017) of India**
The dataset used is [Rainfall Data from 1901 to 2017 for India](https://www.kaggle.com/datasets/saisaran2/rainfall-data-from-1901-to-2017-for-india),from Kaggle uploaded by Sai Saran.

In [5]:
#Import
import numpy as np 
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
plt.style.use('seaborn-pastel')

%matplotlib inline

In [4]:
plt.style.available

In [6]:
df = pd.read_csv('/kaggle/input/rainfall-data-from-1901-to-2017-for-india/Rainfall_Data_LL.csv')
df.shape

In [7]:
df.info()

In [8]:
pd.set_option('max_columns',22)
df.head()

In [9]:
df.drop('Name',axis=1,inplace=True)
df.head()

In [15]:
# Subdivision Frequency
plt.figure(figsize=(20,14))
df['SUBDIVISION'].value_counts().plot(kind='barh')
plt.title('Frequency of each Subdivision')
plt.gca().invert_yaxis()
plt.show()

In [11]:
df['SUBDIVISION'].value_counts()

In [16]:
# State Wise Analysis
states = df['SUBDIVISION'].unique()
state_df = df.groupby('SUBDIVISION')

In [17]:
states #Unique States and Union Territories

In [18]:
months = df.columns[2:14]

# **Get Region Rainfall Stats (Year and Month wise)**

In [19]:
def getRegionRainfallStats(regionIndex):
    stateName = states[regionIndex]
    state = state_df.get_group(states[regionIndex])
    years = state['YEAR'] 
    for month in months:
        plt.figure(figsize=(20,7))
        plt.plot(years,state[month],label=month,linewidth=1)
        plt.title(f"{stateName}'s rainfall stats({years.min()}-{years.max()}) in {month} month.")
        plt.xlabel("Year")
        plt.legend()
        plt.show()

# **Odisha's Rainfall Stats**

In [30]:
#Index of Odisha:
states[6] #1

In [31]:
getRegionRainfallStats(6)

# **Kerala's Rainfall Stats**

In [76]:
states[34]

In [78]:
getRegionRainfallStats(34)

# **Year Wise State Data Visualization.**

In [80]:
def getStateYearData(regionIndex,year,return_data=False):
    try:
        stateName = states[regionIndex]
        dfstate = state_df.get_group(states[regionIndex])
        dfstate.set_index('YEAR',inplace=True)
        year_data = dfstate.loc[year][months]
        plt.figure(figsize=(10,7))
        sns.barplot(x=months,y=year_data.values)
        plt.title(f"Rainfall Data of {stateName} in year {year}")
        plt.show()
        if return_data:
            return year_data
    except KeyError:
        return "Enter Valid Year."
    except IndexError:
        return "Enter Valid State Index."
    except Exception as e:
        print(e)
        return "Opps! Something went."

# **Odisha Rainfall data in 1990**

In [81]:
states[6] #Index is 1

In [82]:
getStateYearData(6,1990)

# **Tamil Nadu Rainfall data in 2011**

In [85]:
states[30] #Index is 30

In [87]:
getStateYearData(30,2011,return_data=True)

# ***Month-wise Avg.Rainfall in last 5 years in each Region***

In [88]:
def getLast5AvgRainfallData(regionIndex,return_data=False):
    
    stateName = states[regionIndex]
    dflast5 = state_df.get_group(states[regionIndex]).tail()
    
    last5years = dflast5['YEAR']
    rainfallAvg5 = dflast5.tail().mean()[months]

    #Plotting
    plt.figure(figsize=(10,7))
    sns.barplot(x=months, y=rainfallAvg5.values)
    plt.title(f"Average rainfall of {stateName} region in last five years({last5years.min()}-{last5years.max()})")
    plt.ylabel("Months")
    plt.xlabel("Rainfall")
    plt.show()
    if return_data:
        return rainfallAvg5

# **Average rainfall of Odisha region in last 5 years**

In [91]:
states[6] #Index is 6

In [92]:
getLast5AvgRainfallData(6,return_data=True)

# ***Average Rainfall in last 5 years of each state***

In [93]:
for index in range(len(states)):
    getLast5AvgRainfallData(index)
    print("\n")

### **Average Rainfall Data of Certain Period of years**

In [94]:
def getAverageStateDataOfPeriod(regionIndex,startYear,endYear,return_data=False):
    if startYear > endYear:
        raise ValueError("Error! startYear>endYear?")
    try:
        stateName = states[regionIndex]
        dfstate = state_df.get_group(states[regionIndex])
        dfstate.set_index('YEAR',inplace=True)
        
        years_data = dfstate.loc[startYear:endYear][months].mean()
        

        plt.figure(figsize=(10,7))
        sns.barplot(x=months,y=years_data.values)
        plt.title(f"Average Rainfall Data of {stateName} from {startYear}-{endYear}")
        plt.show()
        
        if return_data:
            return years_data
    except Exception as e:
        print(e)

# ***Average Rainfall Data of Odisha from 2000-2014***

In [96]:
states[6] #Index is 6

In [97]:
getAverageStateDataOfPeriod(1,startYear=2000,endYear=2012)

# ***Average Rainfall Data of Jharkhand from 1972-1992***

In [102]:
states[7]

In [103]:
getAverageStateDataOfPeriod(20,1972, 1992, return_data=True)

# ***Annual Rainfall of Each state (Year wise)***

In [104]:
def getAnnualRainfallStats(regionIndex):
    stateName = states[regionIndex]
    state = state_df.get_group(states[regionIndex])
    years = state['YEAR']
    
    plt.figure(figsize=(20,7))
    plt.plot(years,state['ANNUAL'])
    plt.title(f"Annual Rainfall of {stateName} Region({years.min()}-{years.max()}).")
    plt.xlabel("Year")
    plt.ylabel("Annual Rainfall")
    plt.show()

In [105]:
for i in range(len(states)):
    getAnnualRainfallStats(i)
    print("\n")

# ***Comparision of Annual Rainfall of All states in a Given Year***

In [108]:
def AnnualStateGraph(year):
    try:
        annual_rainfall = []
        for i in range(len(states)):
            state = state_df.get_group(states[i])
            state.set_index('YEAR',inplace=True)
            annual_rainfall.append(state.loc[year]['ANNUAL'])
        plt.figure(figsize=(10,20))
        sns.barplot(x=annual_rainfall,y=states)
        plt.title(f"Annual Rainfall of Each state in {year}")
        plt.ylabel("States")
        plt.xlabel("Annual Rainfall.")
        plt.show()
        print(f"Total Annual Rainfall of India in {year}:",np.sum(annual_rainfall))
        print(f"Average Annual Rainfall of State:",np.mean(annual_rainfall))
    except Exception as e:
        print(e)

# ***Annual Rainfall of Each state in 1998***

In [111]:
AnnualStateGraph(1998)

# **Annual Rainfall of Each state in 2013**

In [119]:
AnnualStateGraph(2013)